*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.mainAdd{
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--caput-mortuum-2);
}
.addNew{
  min-height: 85vh;
  max-width: 1290px;
  display: flex;
  flex-direction: column;
}
h1{
  margin: 10px auto;
}
.inputBox{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  margin: 8px;
}
 input , select , textarea{
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid;
}
textarea{
  background-color: var(--old-lace);
  font: inherit ;
 font-weight: 500;
  color: var(--caput-mortuum-2);
}
label{
  margin: 5px;
  font-size: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  margin: 5px;
  width: 150px;
  margin-bottom: 16px;
}
.addRecipe{
  background-color: var(--orange-wheel);
  color: var(--old-lace);
  margin-bottom: 16px;
}
.delete{
  height: 20px;
  width: 20px;
  border-radius: 8px;
  border: 1px solid var(--sinopia);
  box-shadow: 1px 1px 1px var(--sinopia);
}
.delete:hover{
  background-color: var(--sinopia);
}
.ingredientBox{
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
