*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

footer{
  width: 100vw;
  height: 5vh;
  background-color: var(--caput-mortuum);
  color: var(--old-lace);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}