*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header{
  width: 100vw;
  height: 10vh;
  display:block;
  background-color: var(--old-lace);
}

.width{
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a{
  color: var(--caput-mortuum) ;
  text-decoration: none;
  margin: 4px;
  font-size: 16px;
 font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-underline-animation:hover{
  color: var(--orange-wheel) ;
}

.hover-underline-animation {
  display: inline-block;
  position: relative; 
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange-wheel);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active{
  color: var(--orange-wheel);
  text-decoration: underline;
}

li{
list-style-type: none;
}
nav ul{
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}