*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.mainList{

  min-height: 85vh;
  background-color: var(--) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.template {
  max-width: 1290px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}