@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;700&display=swap');
:root{
  --hedFootBG: #F0EDD4;
  --hedFootText: #998a80 ;
  --mainBG: #fafbef;
  --cardBG: #F0EDD4;
  --cardText: #6B6059 ;
  --btnBG: #ECCDB4;
  --btnText: #000000;
  --accentColor: #FEA1A1; 
  
}
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--mainBG);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
