@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;700&display=swap');
:root{
  --old-lace: #F5EBDCff;
  --orange-wheel: #FC8631ff;
  --sinopia: #D62302ff;
  --caput-mortuum: #5C3223ff;
  --caput-mortuum-2: #502215ff;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  background: var(--old-lace);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
