@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;700&display=swap');
:root{
  --hedFootBG: #F4E9E6;
  --hedFootText: #6B6059 ;
  --mainBG: #FFFFFF;
  --cardBG: #AEC6CF;
  --cardText: #6B6059 ;
  --btnBG: #C9B2BA;
  --btnText: #000000;
  --accentColor: #D8C9A7;

}
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
